

<style>

</style>


@using (Html.BeginForm("Token", "Home", null, FormMethod.Get@*, new { @class = "form-horizontal", role = "form" }*@))
{
    <div class="jumbotron">
        <h2>Choose your authorization institution:</h2>
        <br />
    </div>
    <table>
        <tr style="width: 1000px">
            <td style="width:250px">
                <button type="submit" class="btn btn-danger">Millennium Bank</button>
            </td>
            <td style="width:250px">
                <button type="button" class="btn btn-success">BZWBK</button>
            </td>
            <td style="width:250px">
                <button type="button" class="btn btn-primary">Pkeee</button>
            </td>

        </tr>
    </table>
    <br>
}





