@model OpenBankingApi.Models.Redirect
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi</h1>
    <p class="lead">You are succesfully authorized by Millennium Bank!</p>
</div>

Code: @Model.Code
</br>
State: @Model.State
</br>
Error: @Model.Error
</br>