@{
    Layout = "~/Views/Allegoro/_LayoutAllegoro.cshtml";
}

<div class="container">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Log in", "Login", "Allegoro", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
</div>

<h3>Online shopping</h3>